{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BioMap{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttonSocial.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts-icones.css' %}">
    <link rel="icon" href="{% static 'ico/logo.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Logo BioMap" class="logo">
        <nav>
            <ul class="menu">
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'pesquisa' %}">Pesquisar</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'perfil_usuario' %}">Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
            <div class="menu-mobile">&#9776;</div>
        </nav>
    </header>
    
    <div class="container">
        <section>
            {% block content %}
            {% endblock %}
        </section>    
    </div>

    <footer class="main_footer">
        <div class="container">
            <div class="footer_social">
                <h3>Nos siga nas redes sociais</h3>
                <nav class="btn_social">
                    <ul>
                        <li><a href=" https://wa.me/15998109762" target="_blank" title="WhatsApp"><i class="icon icon-whatsapp"></i></a></li>
                        <li><a href="https://www.instagram.com/vitor_heb/" target="_blank" title="Instagram"><i class="icon icon-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/vitor-heb/" target="_blank" title="LinkedIn"><i class="icon icon-linkedin"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer_center">
                <img src="{% static 'img/logo.png' %}" alt="Logo BioMap">
                <p class="footer_slogan">"Levando conhecimento para todos os lugares."</p>
                <p class="footer_mission">Acreditamos que o conhecimento leva à conscientização!</p>
                <p class="footer_text">&copy; 2025 BioMap - Todos os direitos reservados.</p>
            </div>
            <div class="footer_menu">
                <h3>Links Rápidos</h3>
                <ul>
                    <li><a href="{% url 'index' %}">Início</a></li>
                    <li><a href="{% url 'sobre' %}">Sobre</a></li>
                    <li><a href="{% url 'contato' %}">Contato</a></li>
                    <li><a href="{% url 'pesquisa' %}">Pesquisar</a></li>

                </ul>
            </div>
            
        </div>
    </footer>
    {% if messages %}
        <div id="toast-container">
    {% for message in messages %}
        <div class="toast">{{ message }}</div>
    {% endfor %}
    </div>
    <script>
    const toast = document.getElementById("toast-container");
    setTimeout(() => toast.style.display = "none", 4000);
    </script>
    <style>
    #toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
    }
    .toast {
        background-color: rgb(230, 125, 55);
        color: #fff;
        padding: 12px 20px;
        border-radius: 6px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.3);
        font-weight: bold;
        animation: fadeIn 0.5s;
    }
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(20px); }
        to { opacity: 1; transform: translateY(0); }
    }
</style>
{% endif %}
</body>
</html>
