<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - BioMap</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/ico/logo.ico">
</head>
<body>

    <section class="form-section">
        <div class="form-container">

            <h2>Entrar no BioMap</h2>

            <p>
                Utilize sua conta Google para acessar a plataforma e explorar informações sobre biodiversidade.
            </p>

            <button id="google-login" class="btn-google">
            <img
                src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
                alt="Google"
                width="20"
            >
                Entrar com Google
            </button>

            <div id="message-container"></div>

        </div>
    </section>

    <script type="module">

        import { loginWithGoogle } from "../services/auth.js";

        const loginButton =
            document.getElementById("google-login");

        loginButton.addEventListener("click", async () => {

            try {

                await loginWithGoogle();

                window.location.href = "pesquisa.html";

            } catch (error) {

                console.error(error);

                document.getElementById("message-container")
                    .innerHTML =
                    "<p>Erro ao realizar login.</p>";

            }

        });

    </script>
    <style>
        .btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        width: 100%;
        padding: 12px;

        border: none;
        border-radius: 8px;

        cursor: pointer;
        font-size: 16px;
    }

    .btn-google img {
        width: 20px;
        height: 20px;
    }
    </style>
</body>
</html>