<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Pesquisa - Biomap</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/ico/logo.ico">
</head>
<body>
    <section class="search-section">

    <h2>Pesquisar Espécie</h2>

    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa - BioMap</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/ico/logo.ico">
</head>

<body>

    <section class="search-section">

        <h2>Pesquisar Espécie</h2>

        <input
            type="text"
            id="search-input"
            placeholder="Digite o nome comum ou científico"
        >

        <button id="search-btn">
            Pesquisar
        </button>

        <div id="results"></div>

    </section>

<script type="module"
        src="/static/js/pesquisa.js">
</script>

</body>
</html>