<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado - BioMap</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<section class="result-section">

    <div class="result-container">

        <h2>Detalhes da Espécie</h2>

        <div id="species-details">

            <p>Carregando informações...</p>

        </div>

    </div>

</section>

<script
    type="module"
    src="/static/js/resultado.js">
</script>

</body>
</html>