{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="resultado-container">
    {% if animal %}
        <div class="animal-card">
            <div class="animal-img">
                <img src="{{ animal.imagem_url }}" alt="{{ animal.nome_cientifico }}">
            </div>

            <div class="animal-info">
                <h2 class="animal-nome">{{ animal.nome_comum }}</h2>
                <h3 class="animal-cientifico"><em>{{ animal.nome_cientifico }}</em></h3>

                <div class="animal-detalhes">
                    <p><strong>Reino:</strong> {{ animal.reino }}</p>
                    <p><strong>Filo:</strong> {{ animal.filo }}</p>
                    <p><strong>Classe:</strong> {{ animal.classe }}</p>
                    <p><strong>Ordem:</strong> {{ animal.ordem }}</p>
                    <p><strong>Família:</strong> {{ animal.familia }}</p>
                    <p><strong>Gênero:</strong> {{ animal.genero }}</p>
                    <p><strong>Categoria:</strong> {{ animal.categoria }}</p>
                    <p><strong>Endêmico do Brasil:</strong> {{ animal.endemica_brasil|yesno:"Sim,Não" }}</p>
                    <p><strong>Região:</strong> {{ animal.regiao }}</p>
                </div>
            </div>

            {% if mapa_path %}
            <div class="mapa-full-width">
                <div class="mapa-container">
                    <h4>Mapa de distribuição:</h4>
                    <img src="/media/{{ mapa_path }}" alt="Mapa de distribuição" class="mapa-estado">
                </div>
            </div>
            {% else %}
                <p class="sem-local-mapa"><em>Sem mapa de incidência gerado.</em></p>
            {% endif %}

            <div class="bioma-justificativa-container">
            <div class="bioma-tags">
                <p><strong>Biomas:</strong></p>
                <div class="bioma-list">
                    {% for bioma in biomas_list %}
                        <span class="bioma-tag {{ bioma|lower|slugify }}">
                            {{ bioma }}
                        </span>
                    {% empty %}
                        <span class="sem-local">Não Aplicável</span>
                    {% endfor %}
                </div>
            </div>
            
            <p class="justificativa-texto"><strong>Justificativa:</strong> {{ animal.justificativa }}</p>
        </div>
        </div>

        


    {% else %}
        <div class="no-result">
            <h3>🐾 Nenhum registro encontrado.</h3>
        </div>
    {% endif %}

    <a href="{% url 'pesquisa' %}" class="btn-search">Nova Pesquisa</a>
</div>

{% endblock %}